<style type="text/css">
body {background-color:Gainsboro;}
h1{color:rgb(0,200,0);font:italic;}
a:link {font-family: sans-serif; }
a:hover {color:red; }
a:visited {color:purple; }
.importante {backcgound:yellow;}
samp{font:arial;color:rgb(0,0,200)}

</style>